.edit-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;

    label {
        color: white;
        font-size: 1.2rem;
        
        .edit-input {
            width: 100%;
            padding: 0.5rem;
            font-size: 1rem;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    }

    .edit-buttons  button{

        border-color: #00bc77;
        background-color: #00bc77;
        color: #fff;
        font-weight: bold;
        padding: 10px;
        cursor: pointer;
        margin-right: 20px;

   
    }
}
