.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    height: 54px;
}

.main-nav-logo {
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 200px;
}

.main-nav-item {
    text-decoration: none;
    margin-left: 1rem;
    
}

.main-nav-item:hover {
    text-decoration: underline;
}

.main-nav-item i {
    margin-right: 0.5rem;
}

.header {
    color: #fff;
    margin-bottom: 2rem;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    gap : 1rem;
    text-decoration: none;
}

li a {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 7px;
    text-decoration: none;
}

.sign-out-btn {
    background: none;
    border: none;
    font-weight: bold;
    display: flex;
    justify-content: space-between;

    
}

a:-webkit-any-lin k {
    text-decoration: none;
}