.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    height: 54px;

    .main-nav-logo {
        img {
            display: block;
            max-width: 100%;
            width: 200px;
            height: auto;
        }
    }

    ul {
        display: flex;
        list-style: none;
        align-items: center;
        margin: 0;
        padding: 0;
        gap: 1rem;

        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            margin-left: 1rem;
            color: #2c3e50;
            font-weight: bold;

            i {
                margin-right: 0.5rem;
            }

            p:hover {
                text-decoration: underline;
            }

        }
    }
}