/* .feature-item-icon {
    width: 100px;
    border : 10px solid #00bc77;
    border-radius: 50%;
    padding: 1rem;
} 
 */
/* .feature-item img {
    overflow-clip-margin: content-box;
    overflow: clip;
} */