.main.bg-dark {
    background-color:#12002b; 
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-container {
    background: white;
    padding: 2rem;
    justify-content: center;
    margin-bottom: 34px;

    
}